@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    top: 100px;
}

.buttons{
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    justify-content: space-between;
    gap: 15px;
}

a{
    display: inline-block;
    color: white;
    background-color: #red;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    width: 135px;
    max-width: 160px;
    padding: 15px;
}
